/*
 * Todo: fix the stupid fucking centreing offset
 */


@font-face {
    font-family: main;
    src: url(../fonts/bitwise.ttf);
}

@font-face {
    font-family: stitch;
    src: url(../fonts/stitchwarrior.ttf);
}

@font-face {
    font-family: warn;
    src: url(../fonts/unifont.otf);
}

@font-face {
	font-family: cnt;
	src: url(../fonts/toshi.ttf);
}

p.warning {
    display: inline;
    align: right;
    font-family: warn;
    color: #FFFF00;
    
}

p {
    font-family: main;
    font-size: 18px;
    color: #FFFF00;
}

div.head {
    width: 100%;
    text-align: right;
}

h3 {
    font-family: stitch;
    font-size: 28px;
    color: #FFFF00;
}

h5 {
    font-family: stitch;
    font-size: 20px;
    color: #FFFF00;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

img.web {
    width: 200px;
    float: left;
    align: center;
    position: fixed;
    z-index: 1;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

img {
    width: 367px;
}

.mn {
	    border-left-style: solid;
	    border-right-style: dotted;
	    border-top-style: dotted;
	    border-bottom-style: dotted;
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-top: 10px;
	    padding-bottom: 15px;
	    width: 350px;
	    height: auto;
	    word-wrap: break-word;
	    border-color: yellow;
}

.mnCNT {
	    border-left-style: solid;
	    /*margin-lleft: -100px;*/
	    border-right-style: dotted;
	    border-top-style: dotted;
	    border-bottom-style: dotted;
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    width: 350px;
	    height: auto;
	    word-wrap: break-word;
	    border-color: yellow;
}

table {
	width: 100%;
	/*border: 5px solid white;*/
	margin: auto;
}

.cntr {
	width: 100%;
	margin: auto;
}

tr, th, td {
	padding: 7.5px;
	vertical-align: middle;
}

a {
    font-family: main;
    display: inline;
    text-decoration: none;
    color: #FFFF00;
}

span {
    opacity: 0%;
}

span:hover {
    opacity: 100%;
    color: #CCCC00;
}

div.nav {
    width: 100%;
    text-align: right;
    padding: 0;
}

.bot {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    padding: 0;
    text-align: justify;
}

.exis {
    font-family: stitch;
    font-size: 12px;
    color: #444400;
}

.tabDiv {
	/*border: 5px solid white;*/
	height: 500px;
	width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	/*float: center;*/
}


.pan0ccc {
	float: left;
	position: auto;
	width: auto;
	z-index: 1;
}

embed {
	position: auto;
	padding: 0;
	z-index: 0;
}

.anno {
	font-family: cnt;
	text-align: center;
	font-size: 26px;
}

.garum {
	display: block;
	margin: auto;
	width: 600px;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
